html {
  min-height: 100%;
}

body {
  line-height: 1.5;
  font-family: "Nunito", sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
}

h3:hover {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}
