{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="images" content="{% static 'story_8/images/' %}">
    <meta name="csrf" content="{{ csrf_token }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% block css %}{% endblock css %}
    <link rel="shortcut icon" href="{% static 'story_8/images/book.ico' %}">
    <title>Story {% block title %}{% endblock title %} Daniel</title>
</head>
<body>
    {% block content %}{% endblock content %}
    <script src="{% static 'story_8/js/script.js' %}"></script>
</body>
</html>