{% extends 'story_6/layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center info mb-3 mt-3">
                    <h1 class="font-weight-bold">Aktifitas</h1>
                    <hr>
                </div>
            </div>
            <form method="post">
                {% comment %} tambah csrf_token untuk keamanan  {% endcomment %}
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Simpan</button>
            </form>
        </div>
    </section>
{% endblock  %}