{% extends 'homepage/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'homepage/css/styles.css' %}">{% endblock css %}
{% block content %}

<div class="container my-4">
    {% if user.is_authenticated %}
    <div >
        <h1 class="display-5 text-white typewritter">Halo {{user.username}}...</h1>
    </div>
    <div class="row">
        <a href="{% url 'story_6:index' %}" class="col-6 col-sm-6 col-md-6 col-xl-4 my-3 mx-auto">
            <div class="d-flex align-items-center justify-content-center h2 block">
                <p>Story 6</p>
            </div>
        </a>
        <a href="{% url 'story_7:story_7' %}" class="col-6 col-sm-6 col-md-6 col-xl-4 my-3 mx-auto">
            <div class="d-flex align-items-center justify-content-center h2 block">
                <p>Story 7</p>
            </div>
        </a>
        <a href="{% url 'story_8:story_8' %}" class="col-6 col-sm-6 col-md-6 col-xl-4 my-3 mx-auto">
            <div class="d-flex align-items-center justify-content-center h2 block">
                <p>Story 8</p>
            </div>
        </a>
        <a href="{% url 'login' %}" class="col-6 col-sm-6 col-md-6 col-xl-4 my-3 mx-auto">
            <div class="d-flex align-items-center justify-content-center h2 block">
                <p>Story 9</p>
            </div>
        </a>
        <a href="" class="col-6 col-sm-6 col-md-6 col-xl-4 my-3 mx-auto">
            <div class="d-flex align-items-center justify-content-center h2 block">
                <p>Story 10</p>
            </div>
        </a>
        <a href="" class="col-6 col-md-6 col-xl-4 my-3 mx-auto">
            <div class="d-flex align-items-center justify-content-center h2 block">
                <p>Story Lama</p>
            </div>
        </a>
    </div>
    {% else %}
    <div>
        <h1 class="display-5 text-white typewritter">Halo new visitor...</h1>
        <p class="lead text-white">Silahkan login untuk mendapatkan pengalaman terbaik...</p>
    </div>
    <div class="row">
        <a href="{% url 'login' %}" class="col-6 col-sm-6 col-md-6 col-xl-4 my-3 mx-auto">
            <div class="d-flex align-items-center justify-content-center h2 block">
                <p>Story 6</p>
            </div>
        </a>
        <a href="{% url 'login' %}" class="col-6 col-sm-6 col-md-6 col-xl-4 my-3 mx-auto">
            <div class="d-flex align-items-center justify-content-center h2 block">
                <p>Story 7</p>
            </div>
        </a>
        <a href="{% url 'login' %}" class="col-6 col-sm-6 col-md-6 col-xl-4 my-3 mx-auto">
            <div class="d-flex align-items-center justify-content-center h2 block">
                <p>Story 8</p>
            </div>
        </a>
        <a href="{% url 'login' %}" class="col-6 col-sm-6 col-md-6 col-xl-4 my-3 mx-auto">
            <div class="d-flex align-items-center justify-content-center h2 block">
                <p>Story 9</p>
            </div>
        </a>
        <a href="" class="col-6 col-sm-6 col-md-6 col-xl-4 my-3 mx-auto">
            <div class="d-flex align-items-center justify-content-center h2 block">
                <p>Story 10</p>
            </div>
        </a>
        <a href="" class="col-6 col-md-6 col-xl-4 my-3 mx-auto">
            <div class="d-flex align-items-center justify-content-center h2 block">
                <p>Story Lama</p>
            </div>
        </a>
    </div>
    {% endif %}
</div>

{% endblock content %}