{% extends 'story_9/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}
<link rel="stylesheet" href="{% static 'story_9/css/styles.css' %}"> 
{% endblock css %}
{% block title %}Login{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="logout-container">
        <div class="login-content">
            <div class="login-title">
                <h2 class="login-text mb-4">You've logged in.</h2>
                <div class="underline-title"></div>
            </div>
            <a class="btn btn-class" href="{% url 'homepage:home' %}">Back to home</a>
            <a class="btn btn-class" href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
    {% else %}
    <div class="login-container">
        <div class="login-content">
            <div class="login-title">
                <h2 class="login-text mb-4">Login</h2>
                <div class="underline-title"></div>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <p class="login-alert" style="color: red;"></p>
                <button class="btn btn-class">Login</button>
                <p class="my-3 mx-1">Don't have an account? <a href="{% url 'story_9:signup' %}">Sign Up</a></p>
            </form>
        </div>
    </div>
    {% endif %}
{% endblock content %}